body {

    background-image: url("../Mark&Anns/images/bg.png");
    background-repeat: no-repeat;
    background-size: 120rem;
    padding: 0;
    margin: 0;
  
    


}




html {

scroll-behavior: smooth;

}






.Welcome {


text-align: center;



}

h1, p{

    font-family: 'Unbounded', cursive;
    margin: 3rem;
    text-align: center;


}

.shopnow {

    border-radius: 10px;
    background: transparent;
    margin-top: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    transition: 0.8s;

}
.shopnow:hover {

    
    background:  #E5D2C4;
  


}







.navlist {
    font-family: 'Unbounded', cursive;
    display: inline;
    margin-top: 2rem;
    padding: 14px 16px;
    


}

.container {
    --max-width: 120rem;
    --padding: 1rem;
    width: min(var(--max-width), 100% -var(--padding));
    margin-inline: auto;
    display: inline;


}



.navmenu {
    display: none;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
max-height: 2rem;

}

section {
   

    padding-block: 10rem;


}



.logo {
    padding-left: 2rem;
   

}

.navitems {
    font-weight: bold;
   padding-right: 1rem;
   text-align: center;
    
}

.lists {
text-decoration: none;
padding-left: 5rem;
color: black;
border-bottom: #E5D2C4;
}


.workers {
border-radius: 30rem;
max-height: 7rem;




}

.items {
    margin-left: 10rem;
    vertical-align: top;
    display: inline-block;
    text-align: center;



}


.caption {
    padding-top: 1rem;
font-family: 'Unbounded', cursive;

display: block;


}

.meet {


    background-color: #E5D2C4;

}



.icons {

max-height: 4rem;
padding: 1rem;





}


div.icon {
    justify-content: center;
    display:flex;
  
}


.about-us {

    background-image: url("../Mark&Anns/images/bg1.png");
    background-repeat:no-repeat;
    background-size:contain;
    
}



.contact-us {

    background-image: url("../Mark&Anns/images/bg2.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: right;
    
}

@media all and (max-width: 1000px ) {
    body {
        background-image: url("../Mark&Anns/images/bg400.png");
        background-position: top;
    }
    button:hover {
        background-color: white;

    }
    .lists{

        display: none

    }
    .navmenu {

     display: flex;

    }
  }